<h1 class="text-center mt-5 mb-5">VerdurasDev</h1>

{{#if user}}
<section class="mySectionChart">
    <div class="row table-light rounded-lg border border-primary m-5">
        <div class="col-lg-6 col-xl-6 p-5">
            <canvas id="myChart" class="chart1"></canvas>
        </div>
        <div class="col-lg-6 col-xl-6 p-5">
            <canvas id="myChart2" class="chart2"></canvas>
        </div>
    </div>
</section>

<section class="blockCard">
    <div class="items">
        <div class="item active">
            <div class="card border-primary" style="max-width: 20rem;">
                <div class="card-header">Fruta</div>
                <div class="card-body">
                    <h4 class="card-title">Naranja1</h4>
                    <p class="card-text">Naranjas frescas del campo.</p>
                    <div>
                        <span class="textIconBadge badge rounded-pill bg-primary">10k</span>
                        <span class="textIconBadge badge rounded-pill bg-success ml-1">90%</span>
                        <span class="textIconBadge badge rounded-pill bg-danger ml-1">10%</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Ver producto</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bloquear</button>
                </div>
            </div>
        </div>
        <div class="item next">
            <div class="card border-primary" style="max-width: 20rem;">
                <div class="card-header">Fruta</div>
                <div class="card-body">
                    <h4 class="card-title">Mango</h4>
                    <p class="card-text">Mango común.</p>
                    <div>
                        <span class="textIconBadge badge rounded-pill bg-primary">100u</span>
                        <span class="textIconBadge badge rounded-pill bg-success ml-1">60%</span>
                        <span class="textIconBadge badge rounded-pill bg-danger ml-1">40%</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Ver producto</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bloquear</button>
                </div>
            </div>
        </div>
        <div class="item n2">
            <div class="card border-primary" style="max-width: 20rem;">
                <div class="card-header">Verdura</div>
                <div class="card-body">
                    <h4 class="card-title">Papa</h4>
                    <p class="card-text">Papa negra.</p>
                    <div>
                        <span class="textIconBadge badge rounded-pill bg-primary">200k</span>
                        <span class="textIconBadge badge rounded-pill bg-success ml-1">70%</span>
                        <span class="textIconBadge badge rounded-pill bg-danger ml-1">30%</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Ver producto</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bloquear</button>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card border-primary" style="max-width: 20rem;">
                <div class="card-header">Verdura</div>
                <div class="card-body">
                    <h4 class="card-title">Papa</h4>
                    <p class="card-text">Papa blanca importada.</p>
                    <div>
                        <span class="textIconBadge badge rounded-pill bg-primary">50k</span>
                        <span class="textIconBadge badge rounded-pill bg-success ml-1">95%</span>
                        <span class="textIconBadge badge rounded-pill bg-danger ml-1">5%</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Ver producto</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bloquear</button>
                </div>
            </div>
        </div>
        <div class="item prev">
            <div class="card border-primary" style="max-width: 20rem;">
                <div class="card-header">Verdura</div>
                <div class="card-body">
                    <h4 class="card-title">Brócoli</h4>
                    <p class="card-text">Sin descripción.</p>
                    <div>
                        <span class="textIconBadge badge rounded-pill bg-primary">50u</span>
                        <span class="textIconBadge badge rounded-pill bg-success ml-1">100%</span>
                        <span class="textIconBadge badge rounded-pill bg-danger ml-1">0%</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Ver producto</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bloquear</button>
                </div>
            </div>
        </div>
        <div class="item p2">
            <div class="card border-primary" style="max-width: 20rem;">
                <div class="card-header">Verdura</div>
                <div class="card-body">
                    <h4 class="card-title">Remolacha</h4>
                    <p class="card-text">Sin descripción.</p>
                    <div>
                        <span class="textIconBadge badge rounded-pill bg-primary">35k</span>
                        <span class="textIconBadge badge rounded-pill bg-success ml-1">90%</span>
                        <span class="textIconBadge badge rounded-pill bg-danger ml-1">10%</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Ver producto</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bloquear</button>
                </div>
            </div>
        </div>
        <div class="button-container">
            <div class="button"><i class="fas fa-angle-left"></i></div>
            <div class="button"><i class="fas fa-angle-right"></i></div>
        </div>
    </div>
</section>
{{/if}}