<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">VerdurasDev</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Inicio
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                {{#if user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Producto</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/productos">Ver Productos</a>
                            <a class="dropdown-item" href="/formProducto">Crear Productos</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Usuario</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/usuarios">Ver Usuarios</a>
                            <a class="dropdown-item" href="/formUsuario">Crear Usuario</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Sucursal-Proveedor</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/formSucursal">Nueva Sucursal</a>
                            <a class="dropdown-item" href="/formProveedor">Nuevo Proveedor</a>
                        </div>
                    </li>
                {{/if}}
                
                {{!-- <li class="nav-item">
                    <a class="nav-link" href="#">Perdidas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stock">Stock</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Perfil</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Mi Perfil</a>
                        <a class="dropdown-item" href="#">Configuraci칩n</a>
                        <a class="dropdown-item" href="#">Cambiar Contrase침a</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li> --}}
            </ul>

            <form class="d-flex mr-3">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>

            <div class="d-flex">
                <ul class="navbar-nav me-auto">
                    {{#if user}}
                        <li class="nav-item">
                            <a class="nav-link active" href="/cerrarSesion">Cerrar Sesi칩n
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                    {{else}}
                        <li class="nav-item">
                            <a class="nav-link" href="/formLoginUsuario">Iniciar Sesi칩n</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/formRegistroUsuario">Registrase
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</nav>