<div class="container">
    <form action="/egresar" method="POST">
        <fieldset>
            <legend class="mt-5 mb-3">Egreso</legend>
            
            <div class="form-group">
                <label class="form-label mt-4">Dni</label>
                <input type="text" class="form-control" name="dniCliente" placeholder="Ingrese Cuil">
            </div>
            
            <div class="form-group">
                <label class="form-label mt-4">Scanner</label>
                <input type="text" class="form-control" name="codigoBarra" placeholder="Ingrese Scanner">
            </div>

            <div class="form-group">
                <label class="form-label mt-4">Cantidad</label>
                <input type="text" class="form-control" name="cantidad" placeholder="Ingrese Cantidad">
            </div>
            <button type="submit" class="btn btn-primary mt-3"> Egresar</button>
    </form>
</div>