<div class="container">
    <form action="/recepcionar" method="POST">
        <fieldset>
            <legend class="mt-5 mb-3">Recepcionar</legend>
            
            <div class="form-group">
                <label class="form-label mt-4">Cuil</label>
                <input type="text" class="form-control" name="cuilProveedor" placeholder="Ingrese Cuil">
            </div>
            
            <div class="form-group">
                <label class="form-label mt-4">Scanner</label>
                <input type="text" class="form-control" name="codigoBarra" placeholder="Ingrese Scanner">
            </div>

            <div class="form-group">
                <label class="form-label mt-4">Cantidad</label>
                <input type="text" class="form-control" name="cantidad" placeholder="Ingrese Cantidad">
            </div>
            <button type="submit" class="btn btn-primary mt-3"> Recepcionar</button>
    </form>
</div>