<div class="container">
    <form action="/nuevaSucursal" method="POST">
        <fieldset>
            <legend class="mt-5 mb-3">Ingrese Nombre de sucursal donde trabaja</legend>
            
            <div class="form-group">
                <label class="form-label mt-4">Sucursal</label>
                <input type="text" class="form-control" name="nombreSucursal" placeholder="Ingrese Nombre Sucursal">
            </div>
            
            <button type="submit" class="btn btn-primary mt-3"> Ingresar</button>
    </form>
</div>