<h1 class="text-center mt-5 mb-5">Bienvenido {{emailUsuario}}</h1>
<br>
<div class="container blockSucursales mb-5">
    <form method="POST">
        <fieldset>
            <legend class="mt-5 mb-3">Operaciones</legend>
          <td class="pt-5"><a href="/formRecepcion">Recepcionar<i class="bi bi-pencil text-primary"></i></a></td>
          <br>
          <td class="pt-5"><a href="/formEgresar">Egresar<i class="bi bi-pencil text-primary"></i></a></td>
           
    </form>
</div>