<h1 class="text-center mt-5 mb-5">Bienvenido {{emailUsuario}}</h1>
<br>
<div class="container blockSucursales mb-5">
    <form method="POST">
        <fieldset>
            <legend class="mt-5 mb-3">Operaciones</legend>
            <button action="recepcionarProducto" type="submit" class="btn btn-primary mt-3"> Recepcionar
                Prododucto</button>
            <button action="egresarProducto" type="submit" class="btn btn-primary mt-3"> Egresar Producto</button>
    </form>
</div>