<div class="container">
    <form action="actualizarProveedor/{{proveedor._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <fieldset>
            <legend class="mt-5 mb-3">Editar Proveedor</legend>
            
            <div class="form-group">
                <label class="form-label mt-4">Cuil</label>
                <input type="text" class="form-control" name="cuilProveedor" placeholder="Ingresar cuil"
                    value="{{proveedor.cuilProveedor}}">
            </div>

            <div class="form-group">
                <label class="form-label mt-4">Razon Social</label>
                <input type="text" class="form-control" name="nombreProveedor" placeholder="Ingresar Razon Social"
                    value="{{proveedor.nombreProveedor}}">
            </div>
            <button type="submit" class="btn btn-primary mt-3"> Guardar</button>
    </form>
</div>