<div class="container">
    <form action="/nuevoProveedor" method="POST">
        <fieldset>
            <legend class="mt-5 mb-3">Agregar Proveedor</legend>
            
            <div class="form-group">
                <label class="form-label mt-4">Cuil</label>
                <input type="text" class="form-control" name="cuilProveedor" placeholder="Ingrese Cuil">
            </div>
            
            <div class="form-group">
                <label class="form-label mt-4">Razon Social</label>
                <input type="text" class="form-control" name="nombreProveedor" placeholder="Ingrese Razon Social">
            </div>
            <button type="submit" class="btn btn-primary mt-3"> Guardar</button>
    </form>
</div>